.hero{
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/images/hero.jpg');
    background-position: center;
    background-size: cover;
}

.search{
width: 50vw;
height: 30vh;
display: flex;
justify-content: center;
align-items: center;
input{
    width: 60%;
    height: 12%;
    font-size: medium;
    border-radius: 5px 0px 0px 5px;
}
button{
    height: 12%;
    border: none;
    width: 13%;
    background: #1B6FC9;
    color: white;
    font-size: medium;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
}