* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Montserrat Alternates', sans-serif;
}

.hero {
  width: 100vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../assets/images/hero.jpg");
  background-position: center;
  background-size: cover;
}

.search {
  width: 50vw;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  width: 60%;
  height: 12%;
  font-size: medium;
  border-radius: 5px 0px 0px 5px;
}

.search button {
  height: 12%;
  border: none;
  width: 13%;
  background: #1B6FC9;
  color: white;
  font-size: medium;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.App {
  height: 100vh;
  width: 100vw;
  background: url(../assets/images/BackDrop.svg);
  background-size: cover;
  background-size: 400vh;
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: top;
  overflow: hidden;
  position: relative;
}

.card {
  width: 30vw;
  height: 55vh;
  border: none;
  position: absolute;
  top: 30%;
  left: 15%;
  background: white;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
          box-shadow: 5px 5px 15px 5px #000000;
  position: relative;
}

.card .movie-pic {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.card .movie-pic:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-filter: blur(2px) brightness(40%);
          filter: blur(2px) brightness(40%);
  -webkit-transition: ease-in-out 1.2s all;
  transition: ease-in-out 1.2s all;
}

@media (min-width: 1200px) {
  .card {
    height: 80vh;
    top: 10%;
  }
}

.poster-text {
  position: absolute;
  top: 20%;
  color: #eeeeee;
}

.hide {
  display: none;
}

.movie-page-title {
  position: absolute;
  border: none;
  top: 10%;
  right: 12%;
  width: 30vw;
  height: 20vh;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000693), to(#1E78CE));
  background: linear-gradient(#000693, #1E78CE);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.movie-page-title h1 {
  padding: 0rem 2rem;
}

.movie-page-title p {
  padding: 0.5rem 2rem;
}

@media (max-width: 900px) {
  .movie-page-title {
    right: 10%;
    width: 40vw;
  }
}
/*# sourceMappingURL=styles.css.map */